#myIframe {
	z-index: 10000;
	box-shadow: -2px -1px 10px 2px rgba(0,0,0,0.1);
	background: #eaeaea;
	height: 250px;
	width: 100%;
	right: 0px;
	bottom: 0px;
	position: fixed;
	border-top: 1px solid rgba(0,0,0,0.2);
	overflow: scroll;	
}

