<!-- <form action="https://www.google.com/search"> 
	<input type="text" id="box" name="q" placeholder="Selected Text" ng-model="name"> 
	{{name}} 
	<input type="submit" value="Submit"> 
</form> -->

<div ng-controller="mainCtrl">
	{{name}}
	<strong>Partial</strong>
	urlType: <select ng-model="urlType" ng-options="c.name for c in urlTypes"></select>
	<small>{{urlType.name}}</small>

	<!-- Keyname will be a search box(like top in Jarvis), where if the key is not present you have to add it -->
	Keyname: <input ng-model="keyName"></input>
	<small>{{keyName}}</small>
	<button>+</button>
	
	Category: <select ng-model="category" ng-options="c.name for c in categories"></select>
	<small>{{category.name}}</small>
	<a href="#" ng-click="print()">#</a>
	<br>
	<p binder>Binder</p>
	<table class="pure-table pure-table-bordered">
		<thead>	
			<tr>
				<td>{{category.name}}</td>
				<td ng-repeat="field in fields.all" ng-click="getField($index, field)" ng-class="{unmutable: !field.mutable}" binder>{{field.name}}</td>
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat="item in items.all">
				<td ng-click="getItem(item, 'name')" binder>{{item.name}}</td>
				<td ng-repeat="field in fields.all"  ng-click="getItem(item, field.name)" binder>{{item[field.name]}}</td>
			</tr>	
		</tbody>
		
	</table>
	<small><a href="#" ng-click="addItem()">Add List</a></small>
	<div id="ext-footer">
		<textarea id="mainTxt" ng-model="activeObj[activeKey]"></textarea>
		<a class="pure-button" ng-class="{'pure-button-active': activated}" href="#" inspector>Inspect</a>		
	</div>
</div>

 

