html {
	background: #eaeaea;	
}

.select2-drop {
	z-index: 100001;
}

table {
	width: 100%;
}

#ext-footer {
	margin-top: 30px;
}

#ext-footer > #mainTxt {
	width: 80%;
	height: 30px;
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-table  .active-field{
	border: 2px solid black;
	border-width: 2px;
}
